<div id="index">
    <h1>All Posts</h1>




    <h3>2016</h3>


    <article>

        <h2><a href="http://jonasboner.com/bla-bla-microservices-bla-bla/" title="bla bla microservices bla bla">bla bla microservices bla bla</a></h2>
        <p>
            This is a the transcript of my keynote at O’Reilly Software Architecture Conference in New York in April 2016.

        </p>

    </article>



    <h3>2013</h3>


    <article>

        <h2><a href="http://jonasboner.com/reactive-manifesto-1-0/" title="Reactive Manifesto 1.0">Reactive Manifesto 1.0</a></h2>
        <p>

            Overview







        </p>

    </article>
</div>