<div id="page" class="clearfix">


    <!-- #main-content -->
    <div id="main-content">
        <div class="container">

            <!-- #messages-console -->
            <!-- EOF: #messages-console -->

            <div class="row">



                <section class="col-md-12">

                    <!-- #main -->
                    <div id="main" class="clearfix">


                        <!-- #breadcrumb -->
                        <div id="breadcrumb" class="clearfix">
                            <!-- #breadcrumb-inside -->
                            <div id="breadcrumb-inside" class="clearfix">
                                <ol class="breadcrumb"><li><a href="/es">Inicio</a></li><li>Contacto</li></ol>
                            </div>
                            <!-- EOF: #breadcrumb-inside -->
                        </div>
                        <!-- EOF: #breadcrumb -->
                        <!-- EOF:#content-wrapper -->
                        <div id="content-wrapper">

                            <h1 class="page-title">Contacto</h1>


                            <!-- #tabs -->
                            <div class="tabs">
                            </div>
                            <!-- EOF: #tabs -->
                            <!-- #action links -->
                            <!-- EOF: #action links -->

                            <div class="region region-content">
                                <div id="block-system-main" class="block block-system clearfix">


                                    <div class="content">
                                        <article id="node-156" class="node node-panel clearfix" about="/es/iti/contacto" typeof="sioc:Item foaf:Document">

                                            <header>
                                                <span property="dc:title" content="Contacto" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                            </header>

                                            <div class="content">
                                                <div class="panel-2col-stacked clearfix panel-display">
                                                    <div class="panel-col-top panel-panel">
                                                        <div class="inside">
                                                            <div class="panel-pane pane-custom pane-2">



                                                                <div class="pane-content">
                                                                    <p><img alt="" src="/es/system/files/como_llegar_iti2.png" style="width: 100%;"></p>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="center-wrapper">
                                                        <div class="panel-col-first panel-panel">
                                                            <div class="inside">
                                                                <div class="panel-pane pane-block pane-webform-client-block-152">



                                                                    <div class="pane-content">
                                                                        <form class="webform-client-form webform-client-form-152" enctype="multipart/form-data" action="/es/iti/contacto" method="post" id="webform-client-form-152" accept-charset="UTF-8">
                                                                            <div>
                                                                                <div class="form-item webform-component webform-component-textfield webform-component--nombre">
                                                                                    <label for="edit-submitted-nombre">Nombre <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                                                                                    <input required="required" type="text" id="edit-submitted-nombre" name="submitted[nombre]" value="" size="60" maxlength="100" class="form-text required">
                                                                                </div>
                                                                                <div class="form-item webform-component webform-component-textfield webform-component--apellidos">
                                                                                    <label for="edit-submitted-apellidos">Apellidos <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                                                                                    <input required="required" type="text" id="edit-submitted-apellidos" name="submitted[apellidos]" value="" size="60" maxlength="150" class="form-text required">
                                                                                </div>
                                                                                <div class="form-item webform-component webform-component-textfield webform-component--email">
                                                                                    <label for="edit-submitted-email">Email <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                                                                                    <input required="required" type="text" id="edit-submitted-email" name="submitted[email]" value="" size="60" maxlength="250" class="form-text required">
                                                                                </div>
                                                                                <div class="form-item webform-component webform-component-textfield webform-component--telefono">
                                                                                    <label for="edit-submitted-telefono">Teléfono </label>
                                                                                    <input type="text" id="edit-submitted-telefono" name="submitted[telefono]" value="" size="60" maxlength="25" class="form-text">
                                                                                </div>
                                                                                <div class="form-item webform-component webform-component-textfield webform-component--direccion-postal">
                                                                                    <label for="edit-submitted-direccion-postal">Dirección postal </label>
                                                                                    <input type="text" id="edit-submitted-direccion-postal" name="submitted[direccion_postal]" value="" size="60" maxlength="255" class="form-text">
                                                                                </div>
                                                                                <div class="form-item webform-component webform-component-textfield webform-component--asunto">
                                                                                    <label for="edit-submitted-asunto">Asunto </label>
                                                                                    <input type="text" id="edit-submitted-asunto" name="submitted[asunto]" value="" size="60" maxlength="255" class="form-text">
                                                                                </div>
                                                                                <div class="form-item webform-component webform-component-textarea webform-component--comentarios">
                                                                                    <label for="edit-submitted-comentarios">Comentarios </label>
                                                                                    <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea id="edit-submitted-comentarios" name="submitted[comentarios]" cols="60" rows="5" class="form-textarea"></textarea><div class="grippie"></div></div>
                                                                                </div>
                                                                                <input type="hidden" name="details[sid]">
                                                                                <input type="hidden" name="details[page_num]" value="1">
                                                                                <input type="hidden" name="details[page_count]" value="1">
                                                                                <input type="hidden" name="details[finished]" value="0">
                                                                                <input type="hidden" name="form_build_id" value="form-zmxpQpGJumz4dpBYOfgVbH8QU47Fg_r4bFAWm9pLKLo">
                                                                                <input type="hidden" name="form_id" value="webform_client_form_152">
                                                                                <fieldset class="captcha form-wrapper">
                                                                                    <legend><span class="fieldset-legend">CAPTCHA</span></legend><div class="fieldset-wrapper">
                                                                                        <div class="fieldset-description">Esta pregunta es para comprobar si usted es un visitante humano y prevenir envíos de spam automatizado.</div><input type="hidden" name="captcha_sid" value="3021">
                                                                                        <input type="hidden" name="captcha_token" value="3edd274f49fc2c8ebdb7ad74b3f3308c">
                                                                                        <img typeof="foaf:Image" src="/es/image_captcha?sid=3021&amp;amp;ts=1446056516" width="180" height="60" alt="CAPTCHA de imagen" title="CAPTCHA de imagen"><div class="form-item form-type-textfield form-item-captcha-response">
                                                                                            <label for="edit-captcha-response">¿Cuál es el código de la imagen? <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                                                                                            <input type="text" id="edit-captcha-response" name="captcha_response" value="" size="15" maxlength="128" class="form-text required" autocomplete="off">
                                                                                            <div class="description">Introduzca los caracteres mostrados en la imagen.</div>
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>
                                                                                <div class="form-actions"><input class="webform-submit button-primary form-submit" type="submit" name="op" value="Enviar"></div>
                                                                            </div>
                                                                        </form>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel-col-last panel-panel">
                                                            <div class="inside">
                                                                <div class="panel-pane pane-custom pane-1">



                                                                    <div class="pane-content">
                                                                        <div>
                                                                            <strong>ITI – Instituto Tecnológico de Informática</strong>
                                                                        </div>
                                                                        <div>
                                                                            Ciudad Politécnica de la Innovación - Universidad Politécnica de Valencia.
                                                                        </div>
                                                                        <div>
                                                                            Cº de Vera, S/Nº - Edificio 8G – Acceso B - 4ª planta.
                                                                        </div>
                                                                        <div>
                                                                            46022 (Valencia - España)
                                                                        </div>
                                                                        <div>
                                                                            &nbsp;
                                                                        </div>
                                                                        <div>
                                                                            Tf: + 34 963 877 069&nbsp; Fax: + 34 963 877 239
                                                                        </div>
                                                                        <div>
                                                                            <a href="mailto:iti@iti.es">iti@iti.es</a>&nbsp; <a href="http://www.iti.es">http://www.iti.es</a>
                                                                        </div>
                                                                        <div>
                                                                            <ul class="list-inline">
                                                                                <li>
                                                                                    <a href="https://www.linkedin.com/in/itivalencia" target="_blank"><img alt="" src="/sites/default/files/linkedin.png" style="width: 34px; height: 34px;"></a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="https://www.youtube.com/user/VIEWITIVIDEOS?feature=mhum" target="_blank"><img alt="" src="/sites/default/files/youtube.png" style="width: 34px; height: 34px;"></a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="https://twitter.com/ITI_TIC" target="_blank"><img alt="" src="/sites/default/files/twitter.png" style="width: 34px; height: 34px;"></a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="https://www.facebook.com/ITI.InstitutoTecnologico" target="_blank"><img alt="" src="/sites/default/files/facebook.png" style="width: 34px; height: 34px;"></a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div>
                                                                            &nbsp;
                                                                        </div>
                                                                        <div>
                                                                            Coordenadas terrestres:
                                                                        </div>
                                                                        <div>
                                                                            Latitud: 39º 28' 43,896" N
                                                                        </div>
                                                                        <div>
                                                                            Longitud: 0º 19' 58,872" W
                                                                        </div>
                                                                        <div>
                                                                            &nbsp;
                                                                        </div>
                                                                        <div>
                                                                            Coordenadas para navegadores:
                                                                        </div>
                                                                        <div>
                                                                            Latitud: 39,47886º N
                                                                        </div>
                                                                        <div>
                                                                            Longitud: 0,33302º W
                                                                        </div>
                                                                        <div>
                                                                            &nbsp;
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <footer></footer>


                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- EOF:#content-wrapper -->

                    </div>
                    <!-- EOF:#main -->

                </section>


            </div>

        </div>
    </div>
    <!-- EOF:#main-content -->


</div>