<div class="left-sidebar">
    <!-- Widget to display categories in sidebar -->
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#"></a><a href="/Category/Azure" title="See all posts in Azure">Azure</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#"></a><a href="/Category/CQRS" title="See all posts in CQRS">CQRS</a></h4>
            </div>
        </div>
    </div>





    <div class="brands_products">
        <!--brands_products-->
        <h2>TAGS</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/asp" title="See all posts in ASP">ASP</a></li>
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/asp_net" title="See all posts in ASP.NET">ASP.NET</a></li>
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/csharp" title="See all posts in CSharp">CSharp</a></li>
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/css" title="See all posts in Css">Css</a></li>
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/html" title="See all posts in Html">Html</a></li>
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/javascript" title="See all posts in JavaScript">JavaScript</a></li>
                <li><a href=""> <span class="pull-right">(50)</span></a><a href="/Tag/silverlight" title="See all posts in Silverlight">Silverlight</a></li>
            </ul>
        </div>
    </div>
    <!-- Widget to display tags in sidebar -->



</div>